/* todo 
    header page template
*/

/* global */
*{
    box-sizing: border-box;
}

.radio-button {
        width: 300px;
        text-align: center;      
}
      .radio-button input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
      }
      .radio-button label {
        color: #E9FAE3;
        position:static;
        display: inline-block;
        background-color: #96A293;
        font-family: sans-serif, Arial;
        width: 32% !important;
        border: 3px solid #C5E6A6;
        -webkit-transition: 0.5s;
         transition: 0.5s;
         cursor: pointer;
      }
      .radio-button label:hover {
        background-color: #8FAD88;
      }
      .radio-button input[type="radio"]:checked + label {
        background-color: #8FAD88;
        border-color: #666;
      }

html{
    font-size: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #210124;
    color: black
}

a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0
}

a:link{
    color: #3E92CC
}

a:visited{
    color: #3E92CC
}

a:focus{
    border-bottom: 10px solid;
    background: #CCE6F4
}

a:hover{
    border-bottom: 1px solid;
    background: #F7BFB4;
}

/* index2.html */
.title2{
    font-size: 50px;
    color: #E9FAE3;
}

.login{
    color: #E9FAE3;
    line-height: 0;
}

.register{
    font-size: 15px;
    margin-top: 0;
    color: #CCE6F4
}

.buttons-row{
    margin-right: 20px;
    float: left;
}

.container{
    margin: 10px;
    padding: 10px;
}

.category{
    margin-top: 10px
}

.category-row{
    height: 80px;
    display: grid;
    grid-template: auto / 7% 40% 13% 40%
}

.footer{
    background-color: #8FAD88;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    color: #030303;
}

.header-column-2{
    line-height: 0;
    position: absolute;
    right: 27px;
    top: 10px;
    text-align: right;
}

.registration-row{
    display: grid;
    grid-template: auto / 100%
}

#user-registration label{
    padding-left: 3px;
    width: 225px;
    display: inline-block
}

#new-category label{
    width: 125px;
    display: inline-block
}

input[type=text], input[type=password]{
    padding: 6px 10px;
    background-color: #8FAD88;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #C5E6A6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #E9FAE3;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: #E9FAE3
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #555;
}

input[type=submit]{
    color: white;
    margin: 20px 0;
    background-color: #3E92CC;
    border: 3px solid #3E92CC;
    padding: 6px 10px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=submit]:hover{
    border: 3px solid #555;
}

.post-column{
    padding: 20px;
    margin: 0px;
    border-radius: 0px;
    background-color: #C5E6A6;
}

.reply-column{
    padding: 20px;
    margin-left: 20px;
    margin: 0px;
    border-radius: 0px;
    background-color: #baabba;
}

.post-user{
    margin-left: 20px;
    font-size: 20px;
}

.post-text{
    line-height: 1.5;
    margin-bottom: -20px;
    text-align: justify;
}

.reply-text{
    margin-top: -25px;
    line-height: 1.5;
    margin-bottom: -20px;
    text-align: justify;
}

.registration-text{
    font-size: 15px;
    line-height: 2.5;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.registration-column-1{
    background-color: #F7BFB4;
}

.user-page{
    background-color: #F4A261;
}

.user-page-title{
    margin-left: 20px;
    line-height: 2;
}

.user-posts{
    padding: 20px;
    margin-top: -40px
}

.created-title-center{
    align-items: center;
}

.category-column{
    margin: 0px;
    border-radius: 0px;
    background-color: #E9FAE3;
}

.category-minicolumn-post{
    background-color: #3E92CC;
    color: #E9FAE3
}

.category-minicolumn-comment{
    background-color: #88726c;
    color: #E9FAE3
}

.category-minicolumn{
    background-color: #8FAD88;
    color: #E9FAE3
}

.category-minirow{
    height: 20px;
    display: grid;
    grid-template: auto / 7% 40% 13% 40%
}

.category-minirow-post{
    height: 20px;
    display: grid;
    grid-template: auto / 100%
}

.category-description{
    align-items: center;
    font-size: 20px;
    margin-left: 0px;
}

.category-margin{
    margin-top: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.description{
    font-size: 17px;
}

.path{
    color: #8FAD88;
}

.h2{
    color: #3E92CC;
    line-height: 1;
    margin-top: -10px
}

.h3{
    color: #88726c;
    margin-top: -10px
}

.comment{
    margin-top: -20px;
    width: 100%;
    background-color: #f7bfb4;
}

.create-post{
    width: 100%;
    background-color: #f7bfb4;
}

.create-category{
    width: 100%;
    background-color: #f7bfb4;
}

.comment-textarea{
    margin-top: -20px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 300px;
    resize: none;
    border: dashed;
    overflow: hidden;
    background-color: #c0a3a3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.post-textarea{
    margin-top: 0px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 300px;
    resize: none;
    border: dashed;
    overflow: hidden;
    background-color: #c0a3a3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.create-post-textarea{
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 300px;
    resize: none;
    border: dashed;
    overflow: hidden;
    background-color: #c0a3a3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

select{
    border: 3px solid #C5E6A6;
    color:#E9FAE3;
    background-color: #8FAD88;
    outline: none;
    padding: 6px 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

select:focus{
    border: 3px solid #555;
}

.select-categories-label{
    margin-top: 20px;
    margin-left: 3%
}

.select-categories-list{
    margin-top: 10px;
    margin-left: 3%;
    margin-bottom: 20px;
    font-size: 17px;
}

.post-textarea:focus{
    border: dashed;
    overflow: hidden;
    outline: none;
    font-size: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-textarea:focus{
    border: dashed;
    overflow: hidden;
    outline: none;
    font-size: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.create-post-textarea:focus{
    border: dashed;
    overflow: hidden;
    outline: none;
    font-size: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-text{
    margin-left: 3%;
}

.create-post-title{
    margin-left: 3%;
}

.create-post-input{
    width: 70%
}

.category-inputs{
    margin-top: 200px;
    width: 70%
}

.error-container{
    color: #ffffff;
    font-size: 20px;
}

.category-wrap{
    margin-left: 20px
}

.comment-send-button{
    margin: 3%;
    margin-top: -10px
}

.category-send-button{
    align-items: right;
}

.likes{
    color: #3E92CC;
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative
}

.like-error{
    position: relative;
    font-size: smaller;
    position: absolute;
    bottom: 30px;
    right: 1px;
    border: 10px solid #F7BFB4;
    background-color: #F7BFB4;
   animation: likeAnimation 0s ease-in 3s forwards;
   animation-fill-mode: forwards;
}

@keyframes likeAnimation {
    to {
        width: 0;
        height: 0;
        border: none;
        overflow: hidden;
    }
}

@-webkit-keyframes likeAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        border: none
    }
}

.liked {
    color: #cd1c48;
}

.thumb {
    display: flex;
}

/* needs to be fixed still*/
#path a:link{ color: black; } 
#path a:visited{ color: white; } 
#path a:hover{ color: black; } 
#path a:active{ color: black; }

/* post.html */
.post-title{
    font-size: 30px;
    color: #8FAD88
}

@media screen and (max-width: 830px) and (min-width: 565px) {
    .category-row{
        height: 80px;
        display: grid;
        grid-template: auto / 5% 40% 13% 40%
    }

    .category-minirow{
        height: 20px;
        display: grid;
        grid-template: auto / 5% 40% 13% 40%
    }
}

@media screen and (max-width: 565px) and (min-width: 490px) {
    .header-column-2 {
        line-height: 0;
        position: relative;
        right: 0px;
        top: 0px;
        text-align: left;
    }
    
    .priority-4{
        display:none;
    }

    .category-row{
        height: 80px;
        display: grid;
        grid-template: auto / 10% 55% 35%
    }

    .category-minirow{
        height: 20px;
        display: grid;
        grid-template: auto / 10% 55% 35%
    }
}

@media screen and (max-width: 490px) {
    .header-column-2 {
        line-height: 0;
        position: relative;
        right: 0px;
        top: 0px;
        text-align: left;
    }
    
    .priority-4{
        display:none;
    }

    .priority-3{
        display:none;
    }
    
    .category-row{
        height: 80px;
        display: grid;
        grid-template: auto / 20% 80%
    }

    .category-minirow{
        height: 20px;
        display: grid;
        grid-template: auto / 20% 70% 10%
    }

    .tabbed {
        padding-left: 2rem;
    }
}