{{template "header" .}}
<br>
<br>
        <div class="category-row">
        <div class="category-icon category-column center">
            <i class="bi bi-body-text"></i>
        </div>
        <div class="category-description category-column">
            <div class="title category-margin"><a href="">Trying to adjust a div</a><br></div>
            <div class="description"><small>by <a href="">danr0x</a> at 29.11.22 20.26</small></div>
        </div>
        <div class="category-stats category-column left priority-3">
            <span><i class="bi bi-card-text"></i> 24</span>
        </div>
        <div class="category-info category-column left priority-4">
            <span><a href="">danr0x</a><br><small>29.11.22 20.26</small></span>
        </div>
    </div>
    <div class="category-row">
        <div class="category-icon category-column center">
            <i class="bi bi-body-text"></i>
        </div>
        <div class="category-description category-column">
            <div class="title category-margin"><a href="">Trying to adjust a div</a><br></div>
            <div class="description"><small>by <a href="">danr0x</a> at 29.11.22 20.26</small></div>
        </div>
        <div class="category-stats category-column left priority-3">
            <span><i class="bi bi-card-text"></i> 24</span>
        </div>
        <div class="category-info category-column left priority-4">
            <span><a href="">danr0x</a><br><small>29.11.22 20.26</small></span>
        </div>
    </div>
    <div class="category-row">
        <div class="category-icon category-column center">
            <i class="bi bi-body-text"></i>
        </div>
        <div class="category-description category-column">
            <div class="title category-margin"><a href="">Trying to adjust a div</a><br></div>
            <div class="description"><small>by <a href="">danr0x</a> at 29.11.22 20.26</small></div>
        </div>
        <div class="category-stats category-column left priority-3">
            <span><i class="bi bi-card-text"></i> 24</span>
        </div>
        <div class="category-info category-column left priority-4">
            <span><a href="">danr0x</a><br><small>29.11.22 20.26</small></span>
        </div>
    </div>
    <div class="category-row">
        <div class="category-icon category-column center">
            <i class="bi bi-body-text"></i>
        </div>
        <div class="category-description category-column">
            <div class="title category-margin"><a href="">Trying to adjust a div</a><br></div>
            <div class="description"><small>by <a href="">danr0x</a> at 29.11.22 20.26</small></div>
        </div>
        <div class="category-stats category-column left priority-3">
            <span><i class="bi bi-card-text"></i> 24</span>
        </div>
        <div class="category-info category-column left priority-4">
            <span><a href="">danr0x</a><br><small>29.11.22 20.26</small></span>
        </div>
    </div>
    </div>
</body>
</html>