<html>
    <head>
        <title>Forum Temp Page!</title>
    </head>
    <body bgcolor="black" text="white">
    <center>
        <h1>Categories demo Page!</h1>
        <p>Lets do some sql testing!</p>
        <br>
        <hr width="50%">
        </center>

<form action="/categories" method="post">
    <label for="category">Create category:</label><br>
    <input type="text" id="category" name="category" value="Enter category here..."><br>
    <input type="submit" value="Submit">
  </form> 
  
</html>