<html>
    <head>
        <title>Forum Temp Page!</title>
    </head>
    <body bgcolor="black" text="white">
    <center>
        <h1>posts demo Page!</h1>
        <p>Lets do some sql testing!</p>
        <br>
        <hr width="50%">
        </center>

<form action="/posts" method="post">
    <label for="post">Create post:</label><br>
    <input type="text" id="post_id" name="post_id" value="id"><br>
    <input type="text" id="category_id" name="category_id" value="category id"><br>
    <input type="text" id="title" name="title" value="title"><br>
    <input type="text" id="content" name="content" value="content of post"><br>
    <input type="submit" value="Submit">
</form> 

<form action="/posts" method="post">
    <label for="category">not working:</label><br>
    <input type="submit" value="Submit">
  </form> 
</html>