{{template "header" .}}
      <br /><br />
      <div class="path-row"></div>
      <div id="path" class="path description">
        <small><i class="bi bi-house-door"></i>
          <a href="/">HOME</a>
          <i class="bi bi-arrow-right"></i> <a href="">{{.Username}}</a></small></small>
      </div>
      <br />
      <div class="user-page">
        <div class="user-page-title">
            <h1>Hello, {{.Username}}!</h1>
        </div>
        {{range .CreatedPosts}}
        <div class="user-posts">
            <h2>Your created posts</h2>
        <div class="category-minirow description">
            <div class="category-minicolumn"><small></small></div>
            <div class="category-minicolumn"><small></small></div>
            <div class="category-minicolumn left"><small></small></div>
            <div class="category-minicolumn priority-4"><small>CREATED AT</small></div>
        </div>
        <div class="category-row">
        <div class="category-icon category-column center">
            <i class="bi bi-body-text"></i>
        </div>
        <div class="category-description category-column left">
            <div><a href="/post/{{.ID}}">{{.Title}}</a></div>
        </div>
        <div class="category-stats category-column left priority-3"></div>
        <div class="category-info category-column left priority-4">
            <span><small>{{.CreatedAt}}</small></span>
        </div>
        {{end}}
    </div>
</div>
{{$CreatingUsers := .CreatingUsers}}
{{range .LikedPosts}}
<div class="user-posts">
    <h2>Your liked posts</h2>
<div class="category-minirow description">
    <div class="category-minicolumn"><small></small></div>
    <div class="category-minicolumn"><small></small></div>
    <div class="category-minicolumn left"><small></small></div>
    <div class="category-minicolumn priority-4"><small>CREATOR AND TIME</small></div>
</div>
<div class="category-row">
<div class="category-icon category-column center">
    <i class="bi bi-body-text"></i>
</div>
<div class="category-description category-column left">
    <div><a href="/post/{{.ID}}">{{.Title}}</a></div>
</div>
<div class="category-stats category-column left priority-3"></div>
<div class="category-info category-column left priority-4">
    <span><small>{{with (index $CreatingUsers .)}}{{.Username}}{{end}} at {{.CreatedAt}}</small></span>
</div>
</div>
{{end}}
</div>
</div>
</body>
</html>