<html>
    <head>
        <title>Forum Temp Page!</title>
    </head>
    <body bgcolor="black" text="white">
    <center>
        <h1>Forum Temp Page!</h1>
        <p>Lets do some sql testing!</p>
        <br>
        <hr width="50%">
        </center>
        <form action="/users" method="post">
            <label for="list">List Users:</label>
            <br><br>
            <input type="submit" value="Click to list users!">
          </form>
        <br>
        <form action="/users" method="post">
            <div class="container">
              <h1>Register</h1>
              <p>Please fill in this form to create an account.</p>
              <hr>

              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username" id="username" required>
              
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
          
              <label for="psw-repeat"><b>Repeat Password</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
              <hr>
              <p>By creating an account you agree to be a slave to Tommy Mathisen <a href="#">Terms & Privacy</a>.</p>
          
              <button type="submit" class="registerbtn">Register</button>
            </div>
          </form>
        <br>
    </body>
</html>